html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  //font-family: 'Alata', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  > nav,
  > div,
  > section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1145px;
  }
}

h1 {
  font-size: $font-vlg;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  font-size: $font-lg;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $white;
}
p {
  font-size: $font-md;
  color: $darkGray;
  font-family: 'Alata', sans-serif;
}
